.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.pop-btn{
    display: flex;
    flex-wrap: wrap;
    width: 440px;
    height: 50vh;
}

input{
    width: 60%;
    height: 4.5rem;
    margin-bottom: 1.5rem;
    margin-left: -4px;
}

@media only screen and (max-width: 767px) {
  input{
    width: 90%;
}
}
button{
    flex-basis: 32%;
    margin: 2px;
    color: #fff;
    font-size: larger;
}

button:hover{
    color: #fff;
}